<div class="content {{ storedTheme }}" role="main">
  <div class="theme-options">
    <div
      id="theme-white"
      [ngClass]="storedTheme == 'theme-white' ? 'active' : ''"
      (click)="setTheme('theme-white')"
    ></div>
    <div
      id="theme-black"
      [ngClass]="storedTheme == 'theme-black' ? 'active' : ''"
      (click)="setTheme('theme-black')"
    ></div>
    <div
      id="theme-blue"
      [ngClass]="storedTheme == 'theme-blue' ? 'active' : ''"
      (click)="setTheme('theme-blue')"
    ></div>
    <div
      id="theme-green"
      [ngClass]="storedTheme == 'theme-green' ? 'active' : ''"
      (click)="setTheme('theme-green')"
    ></div>
    <div
      id="theme-orange"
      [ngClass]="storedTheme == 'theme-orange' ? 'active' : ''"
      (click)="setTheme('theme-orange')"
    ></div>
    <div
      id="theme-purple"
      [ngClass]="storedTheme == 'theme-purple' ? 'active' : ''"
      (click)="setTheme('theme-purple')"
    ></div>
  </div>

  <div class="content-box">
    <h3>Multiple Color Theme</h3>
    <h5>Angular, CSS,SCSS, Local Storage</h5>
    <p>
      This is a multiple color theme demo. You can change the theme color by
      clicking on the theme color.
    </p>
    <p>johngualteros In Github</p>
  </div>
</div>
